{% extends "data_tables_base.html" %}  <!-- 부모 템플릿을 상속 -->
{% import "loader_macro.html" as loader %}

{% block title %}
    {{ super() }} | 회사명 선택
{% endblock %}

{% block head %}
    {{ super() }}
    {{ loader.loading_css() }}
{% endblock %}

{% block content %}
    {{ super() }}
    {{ loader.loading_html() }}
{% endblock %}

{% block main %}
<form action="/process" class="wrapper p-12 rounded-lg w-full">
    <input type="hidden" id="company-name" name="company-name" value="" />

    <table id="myTable" class="table-fixed shadow rounded-md">
        <thead>
            <tr class="*:cursor-pointer">
                <th class="w-20 text-center">선택</th>
                <th>회사명</th>
            </tr>
        </thead>
        <tbody>
            {% for 회사 in 회사_목록 %}
            <tr>
                <td>
                    <input
                        type="radio"
                        id="{{ 회사['종목코드'] }}"
                        name="stock-number"
                        value="{{ 회사['종목코드'] }}"
                        class="w-full"
                        onclick="setCompanyName('{{ 회사['회사명'] }}')"
                    />
                </td>
                <td>
                    <label
                        for="{{ 회사['종목코드'] }}"
                        class="inline-block w-full"
                    >
                        {{ 회사["회사명"] }}
                    </label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-center">
        <button
            type="submit"
            class="mt-4 px-48 py-2 rounded-md font-semibold bg-stone-700 text-stone-100 hover:bg-stone-900"
        >
            제출
        </button>
    </div>
</form>
{% endblock %}

{% block script %}
    {{ super() }}

    <script>
        const companyNameInput = document.querySelector('#company-name');

        const setCompanyName = (name) => {
            const radioButtons = document.querySelectorAll('input[type="radio"][name="stock-number"]');

            for (let i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].checked) {
                    companyNameInput.value = name;
                    break;
                }
            }
        }
    </script>

    {{ loader.loading_script() }}
{% endblock %}