<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
</head>
<body>
  <form action="/tmp2">
    <input type="hidden" id="stock-number" name="stock-number">
    <input type="hidden" id="company-name" name="company-name">

    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>✔️</th>
                <th>재무제표종류</th>
            </tr>
        </thead>
        <tbody>
            {% for v in 재무제표종류 %}
            <tr>
                <td>
                  <input type="checkbox" id="{{ v }}" name="financial-statement-type" value="{{ v }}">
                </td>
                <td>
                  <label for="{{ v }}">{{ v }}</label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button>제출하기</button>
  </form>

  <script>
    let table = new DataTable('#myTable');

    const urlParams = new URLSearchParams(window.location.search);

    const stockNumber = urlParams.get('stock-number');
    const companyName = urlParams.get('company-name');

    document.querySelector('#stock-number').value = stockNumber;
    document.querySelector('#company-name').value = companyName;
  </script>
</body>
</html>